<h2>Create New Post</h2>

<%= form_for [@user, @post] do |f| %>
  <%= f.text_field :title, placeholder: "Title", class: "classname" %>
  <%= f.text_area :body, placeholder: "Body" %>
  <%= f.hidden_field :user_id, value: @user.id %>
  <%= f.submit "Submit" %>
<% end %>

<p><%= link_to "Post List", user_posts_path(@user) %></p>